:ruby
  firm = Clns::PartnerFirm.find_by(firm: true)
%span#hidden_data{data: {dialog: "delete",model_name: mat(@object,'model_name'),oid: @object.id,js_ext: 'desk_delivery_note'}}
%article#xhr_info.warning
  %i.fa.fa-warning.fa-lg
  = t('intro.delete.desk_delivery_note',data: mat(@object,'model_name'))
%form{action: "/sys/#{@path}",method: "delete"}
  %table
    %thead
      %tr.pdb-05
        %td{colspan: "5"}
          %detail.detail.w-45rem
            %i.fa.fa-bomb.fa-lg.red
            = t('intro.show.desk_delivery_note',doc_name: @object.doc_name,id_date: l(@object.id_date,format: :trst),firm: firm.name[2],firm_d: @object.signed_by.name,client: @object.client.name[2],client_d: (@object.client_d.name rescue 'Anonymous'))
    = partial "/#{@path}/show"
    %tfoot
      %tr
        - td_buttonset(['delete','cancel'],{style: 'ta-ce'},'5')
