:ruby
  unit_id = @current_user.unit_id || session[:unit_id]
%span#hidden_data{data: {dialog: "filter",model_name: mat(@object,'model_name'),oid: "null",js_ext: 'desk_delivery_note'}}
-if unit_id
  %article#xhr_info.info
    %i.fa.fa-info-circle.fa-lg.blue
    = t("intro.filter.desk_delivery_note",data: mat(@object,'model_name'))
  - unless @current_user.unit_id
    = partial 'clns/shared/select_unit'
  %form{action: "/sys/#{@path}",method: "get"}
    %table
      %tbody
        %tr.pdb-05
          %td
            %input#client_id.select2{type: 'hidden',style: 'width:200px',data: {minlength: '2',ph: '0',search: 'Clns::PartnerFirm'}}
            %input#client_d_id.select2{type: 'hidden',style: 'width:200px',data: {minlength: '0',ph: '1',search: 'Clns::PartnerFirmPerson'}}
            %button#client_d{type: "button",data: {action: "create", icon: "fa fa-plus-square-o"}}= t('button.create') + " Delegat!"
      %tfoot
        %tr
          - td_buttonset(['create','cancel'],{style: 'ta-ce', create: {text: t('button.create') + " Anexa!"}})
-else
  %form{action: "/sys/#{@path}",method: "get"}
    = partial 'clns/shared/select_unit'
