:ruby
  id_stats = params[:id_stats] || locals[:id_stats] || "00000000"
  c0,c1,c2 = id_stats.scan(/\d{2}/)
  freights = Clns::Freight
%table
  %tr
    %td{colspan: 3}
      %span Selectare material de adăugat la document!
      %span.hidden.button.flri.pdr-05.red.pointer.icon-plus-sign.icon-large{title: t('button.new_row')}
      %span.hidden.button.flri.pdr-05.red.pointer.icon-refresh.icon-large
  %tr
    %td{colspan: 3}
      %select.clns.freight.c0
        - t("freight.c0").each do |c|
          %option{value: c.first, selected: c.first == c0}= c.last
      %select.clns.freight.c1
        - t("freight.c1.#{c0}",default: [:'clns.freight.missing']).each do |c|
          %option{value: c.first, selected: c.first == c1}= c.last
      %select.clns.freight.c2
        - t("freight.c2.#{c0}.#{c1}",default: [:'clns.freight.missing']).each do |c|
          %option{value: c.first, selected: c.first == c2}= c.last
      %select.clns.freight.oid
        %option{value: "null"}= t("select.option",data: mat(freights,'model_name'))
        - freights.by_id_stats(id_stats).each do |o|
          %option{value: o.view_filter.first, selected: o.id_stats == id_stats, data: {id_stats: o.id_stats,tva: (o.tva)}}= o.view_filter.last
  - if f = freights.find_by(id_stats: id_stats)
    %tr
      %td
        %span.add-freight.name{data: {freight_id: f.id.to_s,name: f.name,id_stats: f.id_stats,tva: f.tva}}= f.name
      %td
        %input.add-freight.um{value: f.um}
        %input.add-freight.pu{value: "%.4f" % f.pu}
        %input.add-freight.qu.focus{value: '0.00'}
      %td
        %span.add-freight.out 0.00
        %span.add-freight.tva 0.00
        %input.add-freight.val{value: '0.00'}
  - else
    %tr
      %td
        %span.name Material
      %td
        %input.um{disabled: true,value: 'um'}
        %input.pu{disabled: true,value: '0.0000'}
        %input.qu{disabled: true,value: '0.00'}
      %td
        %span.out 0.00
        %span.tva 0.00
        %input.val{disabled: true,value: '0.00'}
