:ruby
  unit_id = session[:unit_id]
- if unit_id
  %article
    %label
      = t('intro.has_unit')
      %select.clns.unit
        %option{value: 'null'}= t('select.option',data: 'Unitatea')
        - Clns::PartnerFirm.find_by(firm: true).units.asc(:slug).each do |unit|
          %option{value: unit.id,selected: unit.id.to_s == unit_id}= unit.name[1]
    %hr
-else
  %article#xhr_info.info
    %i.fa.fa-info-circle.fa-lg
    = t('intro.no_unit')
  %article
    %label
      = t('intro.has_unit')
      %select.clns.unit.ta-ce
        %option{value: 'null'}= t('select.option',data: 'Unitatea')
        - Clns::PartnerFirm.find_by(firm: true).units.asc(:slug).each do |unit|
          %option{value: unit.id}= unit.name[1]
    %hr
    %p.ta-ce
      - button 'cancel'
