%p#address_title= t('sidebar.address_title')
#google_map
%p#address
  %span= t('sidebar.address')
%p#workhours_title= t('sidebar.workhours_title')
%p#workhours<
  %span= t('sidebar.workhours')
%p#phone_title= t('sidebar.phone_title')
%p#phone
  %span
    +40 742 797531<br/>
    +40 731 372620<br/>
%p#email_title= t('sidebar.email_title')
%p#email
  %span kfl62&#064;trst.ro
  %span kfl62&#064;yahoo.com
  %span kfl62g&#064;gmail.com
