%tbody#tabs-1{data: {title: mat(@object, :tab_title)}}
  - tr_input_for @object, 'name',       {order: 0}
  - tr_input_for @object, 'name',       {order: 1}
  - tr_input_for @object, 'name',       {order: 2}
  - tr_input_for @object, 'identities', {order: 'caen'}
  - tr_input_for @object, 'identities', {order: 'chambcom'}
  - tr_input_for @object, 'identities', {order: 'fiscal'}
  - tr_input_for @object, 'identities', {order: 'account'}
  - tr_input_for @object, 'identities', {order: 'itm'}
  - tr_input_for @object, 'identities', {order: 'internet'}
  - tr_input_for @object, 'identities', {order: 'cod'}
  - tr_input_for @object, 'contact',    {order: 'phone'}
  - tr_input_for @object, 'contact',    {order: 'fax'}
  - tr_input_for @object, 'contact',    {order: 'email'}
  - tr_input_for @object, 'contact',    {order: 'website'}
  %tr
    - td_label_for @object, 'client'
    %td.boolean
      %input.true_ro{ type: 'radio',name: "[#{@path}][client]",checked: @object.client,value: 'true'}
      %input.false_ro{type: 'radio',name: "[#{@path}][client]",checked: !@object.client,value: 'false'}
    - td_error_for @object, 'client'
  %tr
    - td_label_for @object, 'supplr'
    %td.boolean
      %input.true_ro{ type: 'radio',name: "[#{@path}][supplr]",checked: @object.supplr,value: 'true'}
      %input.false_ro{type: 'radio',name: "[#{@path}][supplr]",checked: !@object.supplr,value: 'false'}
    - td_error_for @object, 'supplr'
%tbody#tabs-2{data: {title: mat(@object, :tab_notes_title)}}
  %tr
    %td
      %detail.detail.w-35rem
        %i.fa.fa-info-circle.fa-lg.blue
        = mat(@object,'tab_notes_content')
