:ruby
  unit_id = @current_user.unit_id || session[:unit_id]
%span#hidden_data.hidden{data: {dialog: "filter",model_name: mat(@object,'model_name'),oid: "null",js_ext: 'desk_sorting'}}
-if unit_id
  - unless @current_user.unit_id
    = partial 'clns/shared/select_unit'
  %form{action: "/sys/#{@path}",method: "get"}
    %table{cellspacing: "0"}
      %tbody
        %tr.pdb-05
          %td
            %span.info.width-400.ju= t("intro.filter.main",data: mat(@object,'model_name'))
        %tr.pdb-05
          %td
            %select#oid
              %option{value: "null"}= t("select.option",data: mat(@object,'model_name'))
              - @object.where(unit_id: unit_id).desc(:id_date).each do |o|
                %option{value: o.view_filter.first, title: o.freights_list.join("\n")}= o.view_filter.last
      %tfoot
        %tr
          %td.buttonset.ce
            %button{:type => "button",data: {action: "create",icon: "circle-plus"}}= t('button.create')
            %button{:type => "button",data: {action: "show",icon: "clipboard"}}= t('button.show')
            %button{:type => "button",data: {action: "delete",icon: "circle-minus"}}= t('button.delete')
            %button{:type => "button",data: {action: "cancel",icon: "circle-close"}}= t('button.cancel')
-else
  = partial 'clns/shared/select_unit'
