%table.scroll
  %tbody.inner
    %tr.lines-header.scroll{class: @object.lines.count == 0 && 'hidden'}
      - mat(@object,'tbl_lines_hdr')[0..4].each do |label|
        %td.ce= label
    - @object.lines.asc(:order).each do |l|
      %tr.lines
        %td
          %span.ord.width-20.ce=  "#{l.order}."
        %td
          %span.doc.width-80= l.doc
        %td
          %span.exp.width-400= l.expl
        %td
          %span.ins.width-80.ri= "%.2f" % l.in
        %td
          %span.out.width-80.ri= "%.2f" % l.out
    %tr.lines-total{class: @object.lines.count == 0 && 'hidden'}
      %td.ce{colspan: 3}
        %span TOTAL
      %td
        %span.val.tot-in= "%.2f" % @object.lines.sum(:in)
      %td
        %span.val.tot-out= "%.2f" % @object.lines.sum(:out)
