%span#hidden_data.hidden{data: {dialog: "delete",model_name: mat(@object,'model_name'),oid: @object.id,js_ext: 'desk_cache_book'}}
%form{action: "/sys/#{@path}",method: "delete"}
  %table{cellspacing: "0"}
    %thead
      %tr.pdb-05
        %td
          %span.warning.width-350.ju= t('intro.delete.main', data: mat(@object,'model_name'))
      %tr.pdb-05
        %td
          %span.label Nr:
          %span.name.st= @object.name
          %span.label din:
          %span.date.st= @object.id_date.to_s
          %br
          %span.label Sold inițial:
          %span.ib.st= "%.2f" % @object.ib
          %span.label Sold final:
          %span.fb.st= "%.2f" % @object.fb
          %span.label Nr. rânduri:
          %span.lines.st= @object.lines.count
    =# partial "/#{@path}/show"
    %tfoot
      %tr
        %td.buttonset.ce
          %button{type: "button",data: {action: "delete",icon: "circle-minus"}}= t('button.delete')
          %button{type: "button",data: {action: "cancel",icon: "circle-close"}}= t('button.cancel')

