:ruby
  firm     = Clns::PartnerFirm.find_by(firm: true)
  to_unit  = @current_user.unit_id || firm.units.find_by(main: true).id
  unit     = firm.units.find(to_unit)
  from_unit= @current_user.unit_id.nil? ? nil : firm.units.find_by(main: true).id
  dln_ary  = params[:dln_ary].nil? ? [] : params[:dln_ary].split(',')
  bckgrnd = {"dpct" => "#FFBFF0","frsg" => "#DDDDDD","trbd" => "#FFFF99","dpsb" => "#BFFFBF","hcct" => "#B0AFBF"}
- if params[:id_intern]
  %span#hidden_data{data: {dialog: 'filter',model_name: mat(@object,'model_name_id_intern'),oid: 'null',js_ext: 'desk_grn',unit_id: to_unit}}
  %article#xhr_info.info
    %i.fa.fa-info-circle.fa-lg.blue
    - if @current_user.admin?
      = t('intro.filter.desk_grn.admin',unit: unit.name[1])
    - else
      = t('intro.filter.desk_grn.user',unit: unit.name[1],slug: unit.slug.downcase)
  %form{action: "/sys/#{@path}/filter?id_intern=true", method: 'get'}
    %table
      %thead
        %tr.pdb-05
        - dlns = Clns::DeliveryNote.nonin(false).charged(false).where(:unit_id.ne  => to_unit)
        - dlns = Clns::DeliveryNote.nonin(false).charged(false).where(unit_id: from_unit) if from_unit
        - if dlns.empty?
          %tr.pdb-05
            %td
              %detail.detail
                %i.fa.fa-info-circle.fa-lg.blue
                = t('intro.filter.desk_grn.no_dln')
        - else
          %tr.pdb-05
            %td
              %span.w-45rem
                - dlns.each_with_index do |dln,i|
                  %labeldoc-name-list{style: "background-color: #{bckgrnd[dln.name.split('_')[1].downcase]}",
                         title: "#{dln.id_date}\n#{dln.name}\n#{dln.freights_list.join("\n")}"}
                    %input.dln_ary{id:dln.id,type: 'checkbox',checked: dln_ary.include?(dln.id.to_s)}
                    = dln.doc_name
          %tr.pdb-05
            %td
              %span= t('intro.filter.desk_grn.legend')
              - firm.units.asc(:slug).each do |u|
                %span{:style => "background-color: #{bckgrnd[u.slug.downcase]};cursor:pointer", title: "#{u.name[1]}"}= u.name[0]
              %br
              %span= t('intro.filter.desk_grn.hover')
      %tbody
        - unless dln_ary.empty?
          %tr.pdb-05
            %td
              %table.inner
                %tbody.inner
                  %tr
                    - mat(@object,'table_header')[0..4].each do |label|
                      %td
                        %span= label
                  - data = Clns::DeliveryNote.where(:id.in => dln_ary).sum_freights_grn; data.sort.each do |s|
                    %tr
                      %td
                        %span= s[1][0]
                      %td.ta-ce.w-4rem
                        %span= s[1][0]= s[1][2]
                      %td.ta-ri
                        %span= "%.4f" % s[1][3]
                      %td.ta-ri
                        %span= "%.2f" % s[1][4]
                      %td.ta-ri
                        %span= "%.2f" % s[1][5]
                  %tr
                    %td{:colspan => "4"}= "Total"
                    %td
                      %span= "%.2f" % data.values.sum{|r| r[5]}
      %tfoot
        %tr
          - td_buttonset(['create','cancel'],{style: 'ta-ce', create: {text: t('button.create') + " NIR!"}})
- else
  :ruby
    unit_id = @current_user.unit_id || session[:unit_id]
  %span#hidden_data{data: {dialog: "filter",model_name: mat(@object,'model_name'),oid: "null",js_ext: 'desk_grn'}}
  -if unit_id
    %article#xhr_info.info
      %i.fa.fa-info-circle.fa-lg.blue
      = t('intro.filter.desk_grn.partner_firm',unit: unit.name[1])
    - unless @current_user.unit_id
      = partial 'clns/shared/select_unit'
    %form{action: "/sys/#{@path}", method: 'get'}
      %table
        %thead
        %tbody
          %tr.pdb-05
            %td
              %input#supplr_id.select2{type: 'hidden', style: 'width:200px', data: {minlength: '2',ph: '0',search: 'Clns::PartnerFirm',noinit: 'true'}}
              %input#supplr_d_id.select2{type: 'hidden', style: 'width:200px', data: {minlength: '0',ph: '1',search: 'Clns::PartnerFirm',noinit: 'true'}}
              %button#supplr_d{type: "button", data: {action: "create", icon: "fa fa-plus-square-o"}}=  t('button.create') + " Delegat!"
        %tfoot
          %tr
          - td_buttonset(['create','cancel'],{style: 'ta-ce', create: {text: t('button.create') + " NIR!"}})
  -else
    %form{action: "/sys/#{@path}",method: "get"}
      = partial 'clns/shared/select_unit'
