:ruby
  unit_id = @current_user.unit_id.nil? ? session[:unit_id] : @current_user.unit_id
%span#hidden_data{data: {dialog: "repair",model_name: mat(@object,'model_name'),oid: "null",js_ext: 'desk_grn'}}
-if unit_id
  - unless @current_user.unit_id
    = partial 'clns/shared/select_unit'
  %form{action: "/sys/#{@path}", method: "get"}
    %table
      %thead
        %tr.pdb-05
          %td
            %span= mat(@object,'day')
            %input#date_show.ui-state-default{type: 'text',value: l(Date.today,format: :trst)}
            %input#date_send{type: 'hidden', value: Date.today.to_s}
      %tbody
        %tr.pdb-05
          %td
            %input.repair{type: 'hidden',style: 'width:410px',data: {search: 'Clns::Grn',ph: '4',uid: unit_id}}
      %tfoot
        %tr
          %td.buttonset.ce
            %button.focus{type: "button", data: {action: "cancel", icon: "circle-close"}}= t('button.cancel')
-else
  %form{action: "/sys/#{@path}", method: "get"}
    = partial 'clns/shared/select_unit'
