:ruby
  freights = @object.freights.where(:qu.ne => 0).sort_by{|f| "#{f.freight.name}_#{"%05.4f" % f.pu}"}
%tbody
  %tr
    %td
      %table.scroll{cellspacing: "0",style: "font-size:12px"}
        %tbody.inner
          %tr.scroll
            - mat(@object,'table_header').each do |label|
              %td.ce= label
            %td
              %span &nbsp;
          - freights.each_with_index do |o,i|
            %tr.freight
              %td
                %span.stats= o.freight.name
                - input_for   o, 'id',         {nested: 'doc_stk',index: i,type: 'hidden',value: o.id}
                - input_for   o, 'freight_id', {nested: 'doc_stk',index: i,type: 'hidden',value: o.freight_id}
                - input_for   o, 'id_stats',   {nested: 'doc_stk',index: i,type: 'hidden',value: o.id_stats}
                - input_for   o, 'id_intern',  {nested: 'doc_stk',index: i,type: 'hidden',value: 'false'}
                - input_for   o, 'id_date',    {nested: 'doc_stk',index: i,type: 'hidden',value: @object.id_date.to_s}
              %td
                %span.stats.ce= o.freight.um
                -input_for    o, 'um',         {nested: 'doc_stk',index: i,type: 'hidden',value: o.freight.um}
              - td_input_for  o, 'pu',         {nested: 'doc_stk',index: i,style: 'pu', value: "%.2f" % o.pu}
              - td_input_for  o, 'qu',         {nested: 'doc_stk',index: i,style: 'quw',value: "%.2f" % o.qu}
              %td
                %span.stats.ri= "%.2f" % o.val
                - input_for  o, 'val',         {nested: 'doc_stk',index: i,type: 'hidden',value: "%.2f" % o.val}
              %td.action-1
                %span.icon-remove-sign{title: t('button.delete')}
          %tr.total
