:ruby
  id_stats    = params[:id_stats] || locals[:id_stats] || "00000000"
  c0,c1,c2,c3 = id_stats.scan(/\d{2}/)

%select.clns.freight.c0
  - t("freight.c0").each do |c|
    %option{value: c.first, selected: c.first == c0}= c.last
%select.clns.freight.c1
  - t("freight.c1.#{c0}",default: [:'clns.freight.missing']).each do |c|
    %option{value: c.first, selected: c.first == c1}= c.last
%select.clns.freight.c2
  - t("freight.c2.#{c0}.#{c1}",default: [:'clns.freight.missing']).each do |c|
    %option{value: c.first, selected: c.first == c2}= c.last
%input.param{type: 'hidden', name: 'id_stats', value: "#{c0}#{c1}#{c2}#{c3}"}
