:ruby
  today = Date.today;   cols = 0
  y   = params[:p_y].nil? ? today.year  : params[:p_y].to_i
  m   = params[:p_m].nil? ? today.month : params[:p_m].to_i
  id_stats    = params[:id_stats] || locals[:id_stats] || "00000000"
  c0,c1,c2,c3 = id_stats.scan(/\d{2}/)
  uid = @current_user.unit_id ? @current_user.unit_id : params[:uid] == 'null' ? nil : params[:uid]
  fid = params[:fid] ? params[:fid] == 'null' ? nil : params[:fid] : nil
  firm= Clns::PartnerFirm.find_by(firm: true); unit= firm.units.find(uid) if uid; freight = Clns::Freight.find(fid) if fid
%span#hidden_data.hidden{data: {dialog: "query",title_data: uid ? unit.name[1] : firm.name[2],model_name: mat(@object,'model_name'),oid: "null",js_ext: 'desk_freight'}}
- if uid && fid.nil?
  %div.small
    %span.info= t('intro.query.desk_freight.query_unit')
    %span.select-date
      = partial "#{@path}/select_date"#, locals: {daily: true}
    %span.select-freight-c
      = partial "#{@path}/select_freight_c"
    %button.query-unit{type: 'button',data: {action: "query",icon: "search",text: 'hidden'}}= "&nbsp;"
    - unless @current_user.unit_id
      %select.param.uid{name: 'uid'}
        %option{value: 'null'} Toate unităţile
        - firm.units.asc(:slug).each do |pos|
          %option{value: pos.id, selected: uid.to_s == pos.id.to_s}= pos.name[1]
  %table.data-unit{cellspacing: "0", style: "width:initial;margin:auto"}
    = partial "#{@path}/data_unit"
- elsif freight
  %div.small
    %span.info.width-500.ju= t('intro.query.desk_freight.query_freight')
    %span.select-date
      = partial "#{@path}/select_date"
    %span.select-freight-c
      = partial "#{@path}/select_freight_c"
    %button.query-freight{type: 'button',data: {action: "query",icon: "search",text: 'hidden'}}= "&nbsp;"
    - unless @current_user.unit_id
      %select.param.uid{name: 'uid'}
        %option{value: 'null'} Toate unităţile
        - firm.units.asc(:slug).each do |pos|
          %option{value: pos.id, selected: uid.to_s == pos.id.to_s}= pos.name[1]
  %table.data-freight{cellspacing: "0", style: "width:initial;margin:auto"}
    = partial "#{@path}/data_freight"
- else
  %div.small
    %span.info.width-500.ju= t('intro.query.desk_freight.query_firm')
    %span.select-date
      = partial "#{@path}/select_date"
    %span.select-freight-c
      = partial "#{@path}/select_freight_c"
    %button.query-firm{type: 'button',data: {action: "query",icon: "search",text: 'hidden'}}= "&nbsp;"
  %table.data-firm{cellspacing: "0", style: "width:initial;margin:auto"}
    = partial "#{@path}/data_firm", locals: {firm: firm, unit: unit}
